.popup {  
  position: fixed;  
  width: 30%;  
  height: 30%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  z-index: 999;
  background-color: rgba(100,100,100, 0.9);  
}  
